.one {
    text-align: end;
}
.two {
    text-align: end;

}
body {
    background-image: url(./khadeeja-yasser-3U9L9Chc3is-unsplash.jpg)
}
.h1 {
    color: yellow;
    text-align: center;
}
.par {
    color: blue;
}