
ul {
    color: red;
    list-style-type: none;
    display: inline;
}
ul > li {
    display: inline;
}
ul > li > a {
    color: green;
text-decoration: none;
}
body {
    background-image: url(./khadeeja-yasser-3U9L9Chc3is-unsplash.jpg)
}