*{
margin: 0;
padding: 0;
}
nav > a > img {
    height: 80px;
    width: 100px;
}
ul {
    list-style-type: none;
    display: inline;  
}
ul > li {
     display: inline; 
}
ul > li > a {
    color: green;
    text-decoration: none;
}
body {
    background-color: lightblue;
}
h1,h3 {
   color: yellow;
   text-align: center;
}
p {
    color: blue;
    
}
